@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #46444c;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #5a45ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: underline;
  color: #5a45ff;
}

table {
  table-layout: fixed;

  width: 297mm;
}

table td {
  height: 80px;
  position: relative;
  border: 1px solid #e8e5e3;
}

li {
  display: list-item;
}

li::marker {
  color: red;
}

table td:before {
  content: attr(data-day);
  display: block;
  font-size: 7px;
  position: absolute;
  top: 3px;
  right: 5px;
}

@page print {
  orientation: landscape;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  /* ... the rest of the rules ... */
}
